<h2>All Products</h2>

<p>Products table size: <%= @products.size %></p>

<%= render @products %>

<!--
The above is a short-cut for the long form version:
<%= render partial: 'product', collection: @products %>
-->

<p><%= link_to 'New Product', new_product_path %></p>